In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   구로고  197   90   85  100  95  85      Python
2번    강태원   구로고  184   40   35   50  55  25        Java
3번    강호림   구로고  168   80   75   70  80  75  Javascript
4번    김수찬   구로고  187   40   60   70  75  80         NaN
5번    김재욱   구로고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#

데이터 수정

In [ ]:
# 데이터 수정
# repalce({:}) - 해당되는 값 -> 다른 값
# inplace=True

df['학교'].replace({"구로고":"가산고"},inplace=True)
# 여러개 동시 변경
df['학교'].replace({'구로고':'가산고','디지털고':'단지고'})
df

C:\Users\KOSMO\AppData\Local\Temp\ipykernel_19324\3327108751.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['학교'].replace({"구로고":"가산고"},inplace=True)

       이름    학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   가산고  197   90   85  100  95  85      Python
2번    강태원   가산고  184   40   35   50  55  25        Java
3번    강호림   가산고  168   80   75   70  80  75  Javascript
4번    김수찬   가산고  187   40   60   70  75  80         NaN
5번    김재욱   가산고  188   15   20   10  35  10         NaN
6번    박동현  디지털고  202   80  100   95  85  80           C
7번    박혜정  디지털고  188   55   65   45  40  35      PYTHON
8번    승근열  디지털고  190  100   85   90  95  95          C#

In [ ]:
# 특정컬럼 값 변경
# 컬럼 = 컬럼.변경값
df['SW특기'].str.lower()
df['SW특기'].str.upper()
df['SW특기'] = df['SW특기'].str.upper()
df['SW특기'] = df['SW특기'].str.lower()
df

# 첫글자만 대문자로 변경
df['SW특기'].str.capitalize()

# 값 입력해서 변경
df['키'] = 200
df

# ----------------------------

# 특정 셀 값 변경
df.loc['1번','국어'] = 100
df.loc['2번',['국어','영어']] = 10, 20
df.loc[['2번','3번'],['국어','영어']] = 10, 20
df

# 컬럼명 = 문자+문자
df['학교'] = df['학교']+'등학교'
df

       이름       학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1번    강나래   가산고등학교  200  100   85  100  95  85      python
2번    강태원   가산고등학교  200   10   20   50  55  25        java
3번    강호림   가산고등학교  200   10   20   70  80  75  javascript
4번    김수찬   가산고등학교  200   40   60   70  75  80         NaN
5번    김재욱   가산고등학교  200   15   20   10  35  10         NaN
6번    박동현  디지털고등학교  200   80  100   95  85  80           c
7번    박혜정  디지털고등학교  200   55   65   45  40  35      python
8번    승근열  디지털고등학교  200  100   85   90  95  95          c#

데이터 추가
- 컬럼 추가 - df[추가할 컬럼명]
- row 추가 - df.loc[추가할 index명]

In [5]:
# 데이터 추가 방법

# 컬럼에 없는 컬럼 이름을 입력하면 컬럼이 추가됨.
df['합계'] = 0
df['합계'] = df['국어']+df['영어']+df['수학']+df['과학']+df['사회']
df['평균'] = df['합계']/5
df
df['결과'] = 'Fail'
df

       이름       학교    키   국어   영어   수학  과학  사회        SW특기   합계    평균    결과
지원번호
1번    강나래   가산고등학교  200  100   85  100  95  85      python  465  93.0  Fail
2번    강태원   가산고등학교  200   10   20   50  55  25        java  160  32.0  Fail
3번    강호림   가산고등학교  200   10   20   70  80  75  javascript  255  51.0  Fail
4번    김수찬   가산고등학교  200   40   60   70  75  80         NaN  325  65.0  Fail
5번    김재욱   가산고등학교  200   15   20   10  35  10         NaN   90  18.0  Fail
6번    박동현  디지털고등학교  200   80  100   95  85  80           c  440  88.0  Fail
7번    박혜정  디지털고등학교  200   55   65   45  40  35      python  240  48.0  Fail
8번    승근열  디지털고등학교  200  100   85   90  95  95          c#  465  93.0  Fail

In [6]:
df.loc['1번','결과']

'Fail'

조건식을 사용해서 값 변경

In [7]:
# 결과컬럼 추가
df['결과'] = 'Fail'

# 결과컬럼에 조건식을 사용하여 값을 변경
filt = df['합계'] >= 400
df.loc[filt,'결과'] = 'Pass'
df

# '합산'에 국어점수가 90점 이상이면 +100 점
df['합산'] = 100
df
filt = df['국어'] >= 90
df.loc[filt,'합산'] = df['합산']+100
df

,이름,학교,키,국어,영어,수학,과학,사회,SW특기,합계,평균,결과,합산
지원번호,,,,,,,,,,,,,
1번,강나래,가산고등학교,200,100,85,100,95,85,python,465,93.0,Pass,200
2번,강태원,가산고등학교,200,10,20,50,55,25,java,160,32.0,Fail,100
3번,강호림,가산고등학교,200,10,20,70,80,75,javascript,255,51.0,Fail,100
4번,김수찬,가산고등학교,200,40,60,70,75,80,NaN,325,65.0,Fail,100
5번,김재욱,가산고등학교,200,15,20,10,35,10,NaN,90,18.0,Fail,100
6번,박동현,디지털고등학교,200,80,100,95,85,80,c,440,88.0,Pass,100
7번,박혜정,디지털고등학교,200,55,65,45,40,35,python,240,48.0,Fail,100
8번,승근열,디지털고등학교,200,100,85,90,95,95,c#,465,93.0,Pass,200

데이터 삭제
- columns
- index

In [8]:
# 컬럼 삭제
# drop(columns=)
# inplace=True

df.drop(columns='합산', inplace=True)
df

# 컬럼 2개 삭제
df.drop(columns=['국어','영어'])

# 컬럼 전체(<-리스트구조)에 슬라이싱으로 특정 컬럼을 삭제
df.columns[3:5]
df.drop(columns=df.columns[3:5])

       이름       학교    키   수학  과학  사회        SW특기   합계    평균    결과
지원번호
1번    강나래   가산고등학교  200  100  95  85      python  465  93.0  Pass
2번    강태원   가산고등학교  200   50  55  25        java  160  32.0  Fail
3번    강호림   가산고등학교  200   70  80  75  javascript  255  51.0  Fail
4번    김수찬   가산고등학교  200   70  75  80         NaN  325  65.0  Fail
5번    김재욱   가산고등학교  200   10  35  10         NaN   90  18.0  Fail
6번    박동현  디지털고등학교  200   95  85  80           c  440  88.0  Pass
7번    박혜정  디지털고등학교  200   45  40  35      python  240  48.0  Fail
8번    승근열  디지털고등학교  200   90  95  95          c#  465  93.0  Pass

In [9]:
df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기', '합계', '평균',
       '결과'],
      dtype='object')

In [12]:
df.index

Index(['1번', '2번', '3번', '4번', '5번', '6번', '7번', '8번'], dtype='object', name='지원번호')

In [14]:
# index 삭제 (row 값 삭제)
# drop(index=)
# inplace=True

df.drop(index='1번')
df

       이름       학교    키   국어   영어   수학  과학  사회        SW특기   합계    평균    결과
지원번호
1번    강나래   가산고등학교  200  100   85  100  95  85      python  465  93.0  Pass
2번    강태원   가산고등학교  200   10   20   50  55  25        java  160  32.0  Fail
3번    강호림   가산고등학교  200   10   20   70  80  75  javascript  255  51.0  Fail
4번    김수찬   가산고등학교  200   40   60   70  75  80         NaN  325  65.0  Fail
5번    김재욱   가산고등학교  200   15   20   10  35  10         NaN   90  18.0  Fail
6번    박동현  디지털고등학교  200   80  100   95  85  80           c  440  88.0  Pass
7번    박혜정  디지털고등학교  200   55   65   45  40  35      python  240  48.0  Fail
8번    승근열  디지털고등학교  200  100   85   90  95  95          c#  465  93.0  Pass

In [ ]:
filt = df['수학'] <= 80
filt

# 조건식이 적용된 컬럼의 index 값
df[filt].index

Index(['2번', '3번', '4번', '5번', '7번'], dtype='object', name='지원번호')

In [21]:
# 조건식을 이용한 삭제

# 수학 점수가 80점 이하인 학생 데이터 삭제
filt = df['수학'] <= 80
filt
df.drop(index = df[filt].index)

# '김'이 포함되어 있는 학생을 삭제하시오.
filt = df['이름'].str.contains('김')
df.drop(index = df[filt].index)

       이름       학교    키   국어   영어   수학  과학  사회        SW특기   합계    평균    결과
지원번호
1번    강나래   가산고등학교  200  100   85  100  95  85      python  465  93.0  Pass
2번    강태원   가산고등학교  200   10   20   50  55  25        java  160  32.0  Fail
3번    강호림   가산고등학교  200   10   20   70  80  75  javascript  255  51.0  Fail
6번    박동현  디지털고등학교  200   80  100   95  85  80           c  440  88.0  Pass
7번    박혜정  디지털고등학교  200   55   65   45  40  35      python  240  48.0  Fail
8번    승근열  디지털고등학교  200  100   85   90  95  95          c#  465  93.0  Pass

row 추가

In [ ]:
# row 추가
# index 이름 추가해서 입력하면 추가됨.
# 데이터는 list 로 입력.
df.loc['9번'] = ['유승찬','디지털고등학교',184,100,100,100,100,100,'Django',100*5,(100*5)/5,'Pass']
df

       이름       학교    키   국어   영어   수학   과학   사회        SW특기   합계     평균    결과
지원번호
1번    강나래   가산고등학교  200  100   85  100   95   85      python  465   93.0  Pass
2번    강태원   가산고등학교  200   10   20   50   55   25        java  160   32.0  Fail
3번    강호림   가산고등학교  200   10   20   70   80   75  javascript  255   51.0  Fail
4번    김수찬   가산고등학교  200   40   60   70   75   80         NaN  325   65.0  Fail
5번    김재욱   가산고등학교  200   15   20   10   35   10         NaN   90   18.0  Fail
6번    박동현  디지털고등학교  200   80  100   95   85   80           c  440   88.0  Pass
7번    박혜정  디지털고등학교  200   55   65   45   40   35      python  240   48.0  Fail
8번    승근열  디지털고등학교  200  100   85   90   95   95          c#  465   93.0  Pass
9번    유승찬  디지털고등학교  184  100  100  100  100  100      Django  500  100.0  Pass

In [ ]:
# 데이터 수정

df.loc['7번','이름'] = '김혜정'
# '9번' 학생 디지털고등학교 -> 가산고등학교 / Django -> Python 변경
df.loc['9번',['학교','SW특기']] = ['가산고등학교','Python']
df

       이름       학교    키   국어   영어   수학   과학   사회        SW특기   합계     평균    결과
지원번호
1번    강나래   가산고등학교  200  100   85  100   95   85      python  465   93.0  Pass
2번    강태원   가산고등학교  200   10   20   50   55   25        java  160   32.0  Fail
3번    강호림   가산고등학교  200   10   20   70   80   75  javascript  255   51.0  Fail
4번    김수찬   가산고등학교  200   40   60   70   75   80         NaN  325   65.0  Fail
5번    김재욱   가산고등학교  200   15   20   10   35   10         NaN   90   18.0  Fail
6번    박동현  디지털고등학교  200   80  100   95   85   80           c  440   88.0  Pass
7번    김혜정  디지털고등학교  200   55   65   45   40   35      python  240   48.0  Fail
8번    승근열  디지털고등학교  200  100   85   90   95   95          c#  465   93.0  Pass
9번    유승찬   가산고등학교  184  100  100  100  100  100      Python  500  100.0  Pass

조건 filt 는 컬럼에 적용!

In [27]:
df

       이름       학교    키   국어   영어   수학   과학   사회        SW특기   합계     평균    결과
지원번호
1번    강나래   가산고등학교  200  100   85  100   95   85      python  465   93.0  Pass
2번    강태원   가산고등학교  200   10   20   50   55   25        java  160   32.0  Fail
3번    강호림   가산고등학교  200   10   20   70   80   75  javascript  255   51.0  Fail
4번    김수찬   가산고등학교  200   40   60   70   75   80         NaN  325   65.0  Fail
5번    김재욱   가산고등학교  200   15   20   10   35   10         NaN   90   18.0  Fail
6번    박동현  디지털고등학교  200   80  100   95   85   80           c  440   88.0  Pass
7번    김혜정  디지털고등학교  200   55   65   45   40   35      python  240   48.0  Fail
8번    승근열  디지털고등학교  200  100   85   90   95   95          c#  465   93.0  Pass
9번    유승찬   가산고등학교  184  100  100  100  100  100      Python  500  100.0  Pass