In [45]:
import pandas as pd

In [46]:
# 상단 3개 삭제 후 가져오기
# index 행정기관으로 지정해서 출력
# 위 5개만 출력


### usecols - 원하는 컬럼만 가져올수 있음 'B,D,E' / 'B,E:Y' / 'A:E'
df = pd.read_excel('연령별인구현황01.xlsx',skiprows=3,index_col='행정기관',usecols='B,E:Y')
df.head()

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"678,966","1,019,087","1,195,436","1,195,498","1,446,090","1,777,534","1,788,146","1,629,589","2,055,022","1,965,092",...,"2,115,365","2,093,694","1,670,380","1,066,316","760,968","519,583","231,644","59,761","9,722","1,473"
서울특별시,"108,980","153,021","182,124","192,594","259,317","381,579","390,591","323,061","365,028","336,780",...,"344,390","337,863","285,721","191,666","143,645","97,437","40,546","10,299","1,873",330
부산광역시,"38,448","60,686","68,796","66,291","88,093","104,607","105,654","95,166","126,678","117,616",...,"128,876","139,072","125,107","85,373","59,539","38,701","15,033","3,452",501,64
대구광역시,"29,446","47,319","54,556","55,806","70,259","77,875","78,520","70,471","88,121","87,832",...,"101,045","98,539","77,027","51,943","34,587","24,597","10,633","2,594",345,33
인천광역시,"42,297","61,234","70,555","69,074","82,703","105,530","112,957","102,530","128,599","118,537",...,"124,519","125,589","93,260","54,404","37,892","23,926","10,420","2,728",492,100

In [47]:
df['0~4세']

행정기관
전국           678,966
서울특별시        108,980
부산광역시         38,448
대구광역시         29,446
인천광역시         42,297
광주광역시         19,610
대전광역시         20,346
울산광역시         15,166
세종특별자치시        8,624
경기도          204,419
강원특별자치도       19,483
충청북도          21,237
충청남도          29,179
전북특별자치도       19,613
전라남도          21,937
경상북도          30,258
경상남도          39,927
제주특별자치도        9,996
Name: 0~4세, dtype: object

In [48]:
# df[이름] -> 컬럼을 보는 명령어
# df[슬라이싱]  -> row를 보는 명령어
# df.iloc[번호] -> row를 보는 명령어
# df.loc[이름] -> row를 보는 명령어
df[0:1]
df.iloc[0]
# 데이터 replace 함수를 적용, 타입변경 - astype
# df.iloc[0].str.replace(",","").astype(int)
# df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)
df.describe()
df

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"678,966","1,019,087","1,195,436","1,195,498","1,446,090","1,777,534","1,788,146","1,629,589","2,055,022","1,965,092",...,"2,115,365","2,093,694","1,670,380","1,066,316","760,968","519,583","231,644","59,761","9,722","1,473"
서울특별시,"108,980","153,021","182,124","192,594","259,317","381,579","390,591","323,061","365,028","336,780",...,"344,390","337,863","285,721","191,666","143,645","97,437","40,546","10,299","1,873",330
부산광역시,"38,448","60,686","68,796","66,291","88,093","104,607","105,654","95,166","126,678","117,616",...,"128,876","139,072","125,107","85,373","59,539","38,701","15,033","3,452",501,64
대구광역시,"29,446","47,319","54,556","55,806","70,259","77,875","78,520","70,471","88,121","87,832",...,"101,045","98,539","77,027","51,943","34,587","24,597","10,633","2,594",345,33
인천광역시,"42,297","61,234","70,555","69,074","82,703","105,530","112,957","102,530","128,599","118,537",...,"124,519","125,589","93,260","54,404","37,892","23,926","10,420","2,728",492,100
광주광역시,"19,610","31,053","37,472","38,552","47,214","52,118","47,130","42,492","56,992","56,052",...,"56,340","50,866","37,752","25,046","18,998","12,619","5,429","1,351",201,21
대전광역시,"20,346","29,166","34,562","36,439","46,545","57,303","53,317","46,193","55,051","54,478",...,"57,422","54,678","43,397","27,186","18,680","12,620","5,619","1,524",246,36
울산광역시,"15,166","25,146","29,086","27,990","31,111","38,403","38,400","35,883","47,336","44,239",...,"52,502","49,489","36,190","21,798","12,945","7,524","2,658",654,83,9
세종특별자치시,"8,624","13,427","14,204","11,447","9,161","9,946","13,408","15,754","20,303","17,955",...,"11,992","10,544","8,084","4,832","3,031","2,025",952,262,50,4
경기도,"204,419","299,183","342,091","333,360","391,729","490,676","506,349","472,624","594,339","554,698",...,"556,742","526,212","391,277","229,271","164,431","110,138","50,125","13,270","2,230",402
강원특별자치도,"19,483","26,680","32,430","34,211","43,572","47,429","44,226","40,435","51,860","54,015",...,"67,689","73,683","64,414","37,223","28,632","21,057","9,607","2,359",432,94
충청북도,"21,237","31,386","37,100","37,416","44,959","54,997","54,231","48,348","60,085","59,312",...,"70,026","71,620","58,998","35,770","24,724","18,112","8,671","2,063",364,41
충청남도,"29,179","44,170","52,742","51,729","57,873","67,298","68,193","67,983","88,076","84,253",...,"90,144","92,109","73,584","48,773","35,575","25,597","13,790","3,955",590,69
전북특별자치도,"19,613","32,347","41,309","43,453","50,738","52,163","46,324","43,584","60,005","65,087",...,"77,228","78,033","64,218","45,194","33,925","24,018","11,928","3,242",513,63
전라남도,"21,937","32,664","40,601","40,941","48,357","50,893","45,347","43,957","62,171","65,300",...,"85,582","87,153","70,092","49,639","37,994","27,737","12,531","3,321",537,75
경상북도,"30,258","47,180","56,446","57,308","67,935","73,315","71,124","69,202","92,322","92,996",...,"116,681","124,322","102,548","71,055","46,657","34,625","16,090","4,202",666,54
경상남도,"39,927","68,284","82,716","81,107","87,587","93,056","92,266","92,574","130,474","128,361",...,"145,149","147,161","118,327","75,040","49,761","32,393","14,470","3,624",519,60
제주특별자치도,"9,996","16,141","18,646","17,780","18,937","20,346","20,109","19,332","27,582","27,581",...,"29,038","26,761","20,384","12,103","9,952","6,457","3,142",861,80,18

In [ ]:
# 여자부분만 가져오시오
# 위 3개 제외하고, 행정기관 index 지정, 여자부분만 가져오시오.
df_w = pd.read_excel('연령별인구현황01.xlsx',skiprows=3,index_col='행정기관',usecols='B,AB:AV')
df.columns
# 여자컬럼과 남자컬럼 명이 다르기에 통일 시킴
df_w.columns = df.columns
df_w.columns

# 천단위표시,int타입변경
df_w.iloc[0] = df_w.iloc[0].str.replace(",","").astype(int)

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['0~4세', '5~9세', '10~14세', '15~19세', '20~24세', '25~29세', '30~34세',
       '35~39세', '40~44세', '45~49세', '50~54세', '55~59세', '60~64세', '65~69세',
       '70~74세', '75~79세', '80~84세', '85~89세', '90~94세', '95~99세', '100세 이상'],
      dtype='object')

In [58]:
df
df[0:1]

,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,35~39세,40~44세,45~49세,...,55~59세,60~64세,65~69세,70~74세,75~79세,80~84세,85~89세,90~94세,95~99세,100세 이상
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,"678,966","1,019,087","1,195,436","1,195,498","1,446,090","1,777,534","1,788,146","1,629,589","2,055,022","1,965,092",...,"2,115,365","2,093,694","1,670,380","1,066,316","760,968","519,583","231,644","59,761","9,722","1,473"